

/*  -   -   -   -   -   -   -   -   -   -   -   -  */
/*  TYPOGRAPHIE -   -   -   -   -   -   -   -   -  */


/* Fraunces Font */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,700;1,700&display=swap');

/* Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

h1, h3{
    font-family: 'Fraunces', serif;
}


/* size, align */
h1{
    font-size: 7rem; 
    padding: 30px 30px 0px 50px;
} /*Intro Titre*/
h2{
    font-size: 3.5em;
} /*Titre de bloc*/
h3{
    font-size: 3.5rem;
} /*Titre d'article*/
h4{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0px 400px 10px 50px;
} /*Intro Texte*/
h6{
    font-size: 0.8rem;
}
a{
    font-size: 1rem;
    text-align: center;
} /*Menu Bouton*/s
p{
    font-size: 1rem;
}


/* Interligne */
h1, h2, h3 { line-height: 1em; }
p { line-height: 1.5em; }


/* Interlettrage */
h1 { letter-spacing: 0.03em; }
p { letter-spacing: 0.01em; }

/*…*/




/*  -   -   -   -   -   -   -   -   -   -   -   -  */
/*  COULEUR -   -   -   -   -   -   -   -   -   -  */
:root{
    --gris1: hsl(249deg, 15%, 95%);
    --gris2: hsl(249deg, 15%, 80%);
    --gris3: hsl(249deg, 15%, 60%);
    --gris4: hsl(249deg, 15%, 35%);
    --gris5: hsl(249deg, 15%, 20%);
}


body{
    background: var(--gris1);
}
h1{color: white;}
h4{color: white;}





/*  -   -   -   -   -   -   -   -   -   -   -   -  */
/*  DESIGN  -   -   -   -   -   -   -   -   -   -  */

body{
    max-width: 60rem;
    margin: auto;
    padding-bottom:  10rem;
}

/* Button design */
.container {
    position: relative;
}
#photoopener {
    position: absolute;
    z-index: -1;

}

.boutique {
    display: flexbox;
}

.photoBoutique{
    width: 10rem;
    height: 10rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.deco{
   box-shadow: 
        -5px 5px 6px #a49f9f, 
        5px -5px 6px #Fff;
    
    border-radius: 10px;
    padding: 10px 20px 10px 20px;

    outline: 1px solid #333;
    outline-offset: -2px;
}
/*

.boutiqueCarte{
    width: 200px;
    height: 200px;
}


*/

/* - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* MENU - - - - - - - -- - - - - - -- - - - -- - - - */
.menu {
 margin-right: 1rem; 
   
}
.nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    position: sticky;
}


/* - - - - - - - - - - -- - - - - - - - -- - - - -  */
/* INTERACTION - - - - -- - - - - - - - -- - - - -  */

html{
    scroll-behavior: smooth;
}
/*
a {
    outline : none;
  }
  
  nav a:link 

    box-shadow: 
        -5px 5px 6px #a49f9f, 
        5px -5px 6px #Fff;
    
    border-radius: 10px;
    padding: 10px 20px 10px 20px;

    outline: 1px solid #333;
    outline-offset: -2px;
}
    color: #000000;
    text-decoration: none;
  }
  nav a:visited {
    color: #000000;}
  nav a:hover {
    color: #000000;
    font-weight: bolder;
  }
  
  .col {
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 0rem;
  
  }
  */