

/*  -   -   -   -   -   -   -   -   -   -   -   -  */
/*  TYPOGRAPHIE -   -   -   -   -   -   -   -   -  */


/* Fraunces Font */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,700;1,700&display=swap');

/* Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

h1, h3{
    font-family: 'Fraunces', serif;
}


/* size, align */
h1{
    font-size: 9rem; 
} /*Intro Titre*/
h2{
    font-size: 4.5rem;
} /*Titre de bloc*/
h3{
    font-size: 3.5rem;
} /*Titre d'article*/
h4{
    font-size: 2rem;
    line-height: 2.3rem;
} /*Intro Texte*/
h5{
    font-size: 1.2rem;
    text-align: center;
} /*Menu Bouton*/
h6{
    font-size: 0.8rem;
}
p{
    font-size: 1rem;
}


/* Interligne */
h1, h2, h3 { line-height: 1em; }
p { line-height: 1.5em; }


/* Interlettrage */
h1 { letter-spacing: 0.03em; }
p { letter-spacing: 0.01em; }

/*…*/




/*  -   -   -   -   -   -   -   -   -   -   -   -  */
/*  COULEUR -   -   -   -   -   -   -   -   -   -  */
:root{
    --gris1: hsl(249deg, 15%, 95%);
    --gris2: hsl(249deg, 15%, 80%);
    --gris3: hsl(249deg, 15%, 60%);
    --gris4: hsl(249deg, 15%, 35%);
    --gris5: hsl(249deg, 15%, 20%);
}


body{
    background: var(--gris1);
    width: 80vw;
}
h1{color: white;}
h4{color: white;}





/*  -   -   -   -   -   -   -   -   -   -   -   -  */
/*  DESIGN  -   -   -   -   -   -   -   -   -   -  */

/* Button design */

.deco{
   
    box-shadow: 
        -5px 5px 6px #333, 
        5px -5px 6px #Fff;
    
    border-radius: 10px;
    padding: 10px;

    outline: 1px solid #333;
    outline-offset: -2px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* MENU - - - - - - - -- - - - - - -- - - - -- - - - */
.menu {
    width: 100px; 
    margin: 0.1 vw; 
}
.navigation {
    display: flex;
}

/*
a {
    outline : none;
  }
  
  nav a:link {
    color: #000000;
    text-decoration: none;
  }
  nav a:visited {
    color: #000000;}
  nav a:hover {
    color: #000000;
    font-weight: bolder;
  }
  
  .col {
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 0rem;
  
  }
  */