

/*  -   -   -   -   -   -   -   -   -   -   -   -  */
/*  TYPOGRAPHIE -   -   -   -   -   -   -   -   -  */


/* Fraunces Font */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,700;1,700&display=swap');

/* Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

h1, h3{
    font-family: 'Fraunces', serif;
}


/* size */
h1{
    font-size: 9rem;
}





/*  -   -   -   -   -   -   -   -   -   -   -   -  */
/*  COULEUR -   -   -   -   -   -   -   -   -   -  */









/*  -   -   -   -   -   -   -   -   -   -   -   -  */
/*  DESIGN  -   -   -   -   -   -   -   -   -   -  */

/* Button design */